# Whatsapp Chat Analysis

In [101]:
import re
import pandas as pd

In [102]:
f = open("WhatsApp Chat with AIML - 2023 Batch.txt", encoding='utf-8')

In [103]:
data = f.read()

In [104]:
print(type(data))

<class 'str'>

In [105]:
pattern = r'\d{1,2}/\d{1,2}/\d{2},\s\d{1,2}:\d{2}\u202f[AP]M\s-\s'

In [106]:
messages = re.split(pattern, data)[1:]
len(messages)

1130

In [107]:
dates = re.findall(pattern, data)
dates = [d.replace('\u202f', ' ').replace(' -', '').strip() for d in dates]

In [108]:
df = pd.DataFrame({'user_message': messages, 'date': dates})
df.head()

                                        user_message              date
0  +91 96201 26128: Lateral entry students come t...  9/10/24, 2:52 PM
1  +91 96201 26128: 10th , diploma marks, soft co...  9/10/24, 2:58 PM
2                 +91 96201 26128: <Media omitted>\n  9/10/24, 3:02 PM
3                 +91 96201 26128: <Media omitted>\n  9/10/24, 3:06 PM
4  +91 95356 43199: Lateral entry Students bring ...  9/10/24, 3:14 PM

In [109]:
df.shape

(1130, 2)

In [110]:
print(df.columns)

Index(['user_message', 'date'], dtype='object')

In [112]:
import re

users = []
messages = []

for message in df['user_message']:
    entry = re.split(r'(^[^:]+):\s', message, maxsplit=1)
    if len(entry) > 2:
        users.append(entry[1])
        messages.append(entry[2])
    else:
        users.append('group_notification')
        messages.append(entry[0])

df['user'] = users
df['message'] = messages
df.drop(columns=['user_message'], inplace=True)

df.head()

,date,user,message
0,"9/10/24, 2:52 PM",+91 96201 26128,Lateral entry students come toAIML lab2 for re...
1,"9/10/24, 2:58 PM",+91 96201 26128,"10th , diploma marks, soft copy of photo less ..."
2,"9/10/24, 3:02 PM",+91 96201 26128,<Media omitted>\n
3,"9/10/24, 3:06 PM",+91 96201 26128,<Media omitted>\n
4,"9/10/24, 3:14 PM",+91 95356 43199,Lateral entry Students bring your KEA Seat Num...

In [125]:
# Convert the date column to datetime
df['date'] = pd.to_datetime(df['date'], format='%m/%d/%y, %I:%M %p')

# Extract year, month, etc
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month_name()
df['day'] = df['date'].dt.day
df['hour'] = df['date'].dt.hour
df['minute'] = df['date'].dt.minute

In [126]:
df.head()

,date,user,message,year,month,day,hour,minute
0,2024-09-10 14:52:00,+91 96201 26128,Lateral entry students come toAIML lab2 for re...,2024,September,10,14,52
1,2024-09-10 14:58:00,+91 96201 26128,"10th , diploma marks, soft copy of photo less ...",2024,September,10,14,58
2,2024-09-10 15:02:00,+91 96201 26128,<Media omitted>\n,2024,September,10,15,2
3,2024-09-10 15:06:00,+91 96201 26128,<Media omitted>\n,2024,September,10,15,6
4,2024-09-10 15:14:00,+91 95356 43199,Lateral entry Students bring your KEA Seat Num...,2024,September,10,15,14